body{
    background-image: url("D:/Users/diego/Desktop/prueba/Proyecto Web/FOTOS/bueno6.jpg");    
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 35px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@media (min-width: 767px){
   
    #TitleSecund{
        color: white;
        text-align: left;
        line-height: 47px;
       
    }
    
    h3{
        text-align: center;
      
    }

    .Name{
        display: block;
        font-size: 20px;
        width: 50%;
        max-width: 40%;
        min-width: 18%;
        border-color: white;
        padding: 1% 1%; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        line-height: 10px;
    }
    #NameEmail{
        max-width: 95%;
        min-width: 60%;
        font-size: 20px;
        border-color: white;
        padding: 0.5% 2%; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        
    }

    .Center2{
        color: white;
        position: relative;
        left: 20%;
        text-align: left;
        width: 45%;
        max-width: 100%;
        min-width: 45%;
        margin: 5%;
        padding: 2%;
        border: 3px solid #9D9B9A;
        box-shadow: 0 0 25px black;
        backdrop-filter: blur(10px);
    }
    
    .BotonEnviar{
        font-size: 20px;
        border-color: white;
        padding: 20px 50px; 
        font-family: Georgia, 'Times New Roman', Times, serif; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        margin-top: 10px; 
    }
   
}

@media (max-width: 767px){
    p{
        font-size: 15px;
    }
    #movil{
        background-size: auto;
    }
   
    h1{
        font-size: 35px;
    }
    .Nombre2{
        font-size: 14px;
    }
    .Name{
        display: block;
        font-size: 13px;
        border-color: white;
        padding: 2% 2%; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        line-height: 20px;
        width: 83.5%;
        max-width: 83.5%;
      
    }
    #NameEmail{
        display: block;
        font-size: 13px;
        border-color: white;
        padding: 5px 5px; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        max-width: 85%;
       
  
    }
    .Center2{
        color: white;
        display: fixed;
        position: relative;
        top: 75px;
        left: 15%;
        text-align: left;
        width: 60%;
        margin: 5%;
        padding: 10px;
        border: 3px solid #9D9B9A;
        box-shadow: 0 0 25px black;
        backdrop-filter: blur(10px);
    }
    
    .BotonEnviar{
        font-size: 15px;
        border-color: white;
        padding: 10px 25px; 
        cursor: pointer; 
        background-color: transparent;
        color: white;
        margin-top: 5%; 
        position: relative;
        width: 43.5%;
        max-width: 43.5%;

    }
}

