body{
    background-image: url("D:/Users/diego/Desktop/prueba/Proyecto Web/FOTOS/bueno6.jpg");    
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 35px;
}


@media (min-width: 767px){
    .Center{
        color: white;
        text-align: left;
        position: absolute;
        top: -45%;
        margin: 30%;
        padding: 10px;
        border: 3px solid #9D9B9A;
        box-shadow: 0 0 25px black;
        backdrop-filter: blur(10px);
    }
    #TitleSecund{
        color: white;
        text-align: left;
        line-height: 47px;
       
    }
    .Boton{
        font-size: 20px;
        border-color: white;
        padding: 20px 50px; 
        cursor: pointer; 
        background-color: transparent;
        color: white; 
        position: relative;
        left: 35%;
    }
    
    h3{
        text-align: center;
      
    }
    
    
}

@media (max-width: 767px){

    p{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
   
    #movil{
        background-size: auto;
    }
    .Center{
        color: white;
        text-align: left;
        position: absolute;
        top: 85px;
        margin: 5%;
        padding: 5px;
        border: 3px solid #9D9B9A;
        box-shadow: 0 0 25px black;
        backdrop-filter: blur(10px);
    }
    #TitleSecund{
        color: white;
        text-align: left;
        line-height: 25px;
       
    }
    h1{
        font-size: 25px;
    }

    .Boton{
        font-size: 20px;
        border-color: white;
        padding: 20px 50px; 
        font-family: Georgia, 'Times New Roman', Times, serif; 
        cursor: pointer; 
        background-color: transparent;
        color: white; 
        position: relative;
        left: 23.5%;
    }

    h3{
        font-size: 20px;
        text-align: center;
    }
   
   
}

